.mouse-cursor-gradient-tracking {
    position: relative;
    background-color: #7983ff;

    font-size: 1.2em;
    color: white;

    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    overflow: hidden;
    cursor: pointer;
}

.mouse-cursor-gradient-tracking span {
    position: relative;
}

.mouse-cursor-gradient-tracking:before {
    --size: 0;
    content: "";
    width: var(--size);
    height: var(--size);
    position: absolute;
    left: var(--x);
    top: var(--y);
    background: radial-gradient(circle closest-side, pink, transparent);
    transform: translate(-50%, -50%);
    transition: width 0.2s ease, height 0.2s ease;
}

.mouse-cursor-gradient-tracking:hover:before {
    --size: 200px;
}
